body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1{
  font-size: 50px;
  color: blueviolet;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
  font-size: 20px;
  color: black;
  font-weight: bolder;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
