<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
 <h1>Jade Palmer</h1>
 <p>I’m a double major in computer science and biology, and I’m
    interested in genetics, bioinformatics, and building practical 
    tech. For fun, I enjoy playing the keyboard and bass guitar and 
    running outdoors. Below find an image from a show I watched recently! </p>

    <img src="{{ url_for('static', filename='image.jpg') }}" alt="Gen V Scene">
</body>
</html> 